<!DOCTYPE html>

<html>
    <head>
        <title>
            404
        </title>
        <link rel="Icon" href="./img/weather.png">
        <link rel="stylesheet" href="./CSS/styles.css">
    </head>

    <body>
        <div class="Main-Content">
            {{>header}}
            <h3>{{errorText}}</h3>
        </div>
        {{>footer}}
    </body>
</html>