<!DOCTYPE html>

<html>
    <head>
        <title>
            About
        </title>
        <link rel="Icon" href="./img/weather.png">
        <link rel="stylesheet" href="./CSS/styles.css">
    </head>

    <body>
        <div class="Main-Content">
            {{>header}}
            <img src="./img/DP.jpeg" style="width: 200px; border: 1px solid black; border-radius: 50%;" alt="My-Photo">
            <h4>My name is Abhishek Batra. I am a Software Developer Enthusiast from New Delhi, Delhi, India.<br>I built this project to have working knowledge of APIs.<br><br><center>Thank You For Visiting !</center></h4>
        </div>
        {{>footer}}
    </body>
</html>