<!DOCTYPE html>

<html>
    <head>
        <title>
            Help
        </title>
        <link rel="Icon" href="./img/weather.png">
        <link rel="stylesheet" href="./CSS/styles.css">
    </head>

    <body>
        <div class="Main-Content">
            {{>header}}
            <h4>What is this webpage?<br>This tells you about the weather in any location in the world. It uses data from mapbox.com and weatherstack.com.<br><br>How does it work?<br>It's very simple, just click on the 'weather' tab on this page then you will find an input box where you can type in the location you want to get the weather forecast for, and lastly click the 'search' button beside the input box!</h4>
        </div>
        {{>footer}}
    </body>
</html>